.reset-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f5f7fb;
}

.reset-card{
  width:400px;
  background:white;
  padding:40px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.reset-card h1{
  margin-bottom:25px;
  color:#6c63ff;
}

.reset-input{
  width:100%;
  height:50px;
  margin-bottom:18px;
  padding:0 15px;
  border:1px solid #ddd;
  border-radius:12px;
}

.reset-btn{
  width:100%;
  height:50px;
  border:none;
  border-radius:12px;
  color:white;
  font-size:16px;
  cursor:pointer;
  background:linear-gradient(  90deg,
  #2fa7db,
  #615af6
  );
}

.reset-btn:hover{
  background: linear-gradient(
    90deg,
    #8b5cf6,
    #615af6
  );
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.success{
  color:green;
}

.error{
  color:red;
}