/* ==========================================
   CONTAINER
========================================== */
.selectedContainer{
    background:#ffffff;
    border:1px solid #e5e7eb;
    border-radius:22px;
    padding:20px;

    width:100%;
    max-width:430px;
    min-width:430px;

    min-height:850px;   
    max-height:700px; 

    overflow-y:auto;

    box-shadow:0 8px 24px rgba(0,0,0,.08);
}
.selectedContainer::-webkit-scrollbar{
    width:6px;
}

.selectedContainer::-webkit-scrollbar-thumb{
    background:#c5d4ff;
    border-radius:10px;
}
/* ==========================================
   EMPTY STATE
========================================== */

.emptyState {
  background: #ffffff;
  border-radius: 22px;
  padding: 40px 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.05);
}

.emptyIcon {
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(135deg,#2979ff,#6c3cff);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: white;
}

.emptyState h3 {
  margin: 0;
  color: #111827;
  font-size: 24px;
}

.emptyState p {
  margin-top: 12px;
  color: #6b7280;
  line-height: 1.6;
  font-size: 14px;
}

/* ==========================================
   IMAGE
========================================== */



.imageBox img:hover {
  transform: scale(1.05);
}

/* ==========================================
   TITLE
========================================== */

.title {
  margin: 0;
  font-size: 28px;
  color: #111827;
  font-weight: 700;
}

.description {
  margin-top: 10px;
  color: #6b7280;
  line-height: 1.7;
  font-size: 14px;
}

/* ==========================================
   INFO CARD
========================================== */



.infoRow:last-child {
  margin-bottom: 0;
}

.infoRow svg {
  color: #2979ff;
  font-size: 18px;
  margin-right: 12px;
}

.infoRow span {
  flex: 1;
  color: #6b7280;
  font-size: 14px;
}

.infoRow strong {
  color: #111827;
  font-size: 14px;
}

/* ==========================================
   BUTTONS
========================================== */




/* ==========================================
   DARK MODE
========================================== */

:global(body.dark) .container,
:global(body.dark) .emptyState {
  background: #1f2937;
  border: 1px solid #374151;
  box-shadow: 0 10px 30px rgba(0,0,0,.35);
}

:global(body.dark) .emptyState h3,
:global(body.dark) .title {
  color: #ffffff;
}

:global(body.dark) .description,
:global(body.dark) .emptyState p {
  color: #94a3b8;
}

:global(body.dark) .infoCard {
  background: #111827;
  border: 1px solid #374151;
}

:global(body.dark) .infoRow span {
  color: #94a3b8;
}

:global(body.dark) .infoRow strong {
  color: #ffffff;
}



:global(body.dark) .primaryButton {
  background: linear-gradient(135deg, #2563eb, #7c3aed);
}
:global(body.dark) .actionButton{
  background:linear-gradient(135deg,#2563eb,#7c3aed);
  color:white;
}


:global(body.dark) .deleteButton{
  background:#dc2626;
}

/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width:1200px){

.imageBox{
height:220px;
}

}

.title{
 font-size:28px;
}

  .actionGrid{
    grid-template-columns:1fr;
  }
/* ==========================================
   RESPONSIVE
========================================== */

@media(max-width:768px){

.container{
  padding:20px;
}

.imageBox{
  height:200px;
}

.title{
  font-size:24px;
}

.actionGrid{
  grid-template-columns:1fr;
}

}


@media(max-width:480px){

.container{
  padding:16px;
}

.imageBox{
  height:180px;
}

.title{
  font-size:22px;
}

.infoCard{
  padding:16px;
}

.infoRow{
  flex-wrap:wrap;
  gap:8px;
}

.infoRow strong{
  width:100%;
  padding-left:30px;
}

}
@media(max-width:900px){

.topSection{
  grid-template-columns:1fr;
}

.infoGrid{
  grid-template-columns:1fr;
}

}
/* ==========================================
   HEADER
========================================== */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:12px;   /* पहले 20px */
}

.headerTitle{
  display:flex;
  align-items:center;
  gap:8px;
}

.headerTitle h2{
  font-size:22px;
  margin:0;
  color:#172033;
}

.dot{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#6d28ff;
}

.headerIcons{
  display:flex;
  gap:18px;
  color:#64748b;
  font-size:20px;
}

/* ==========================================
   TOP SECTION
========================================== */
.topSection{
    display:grid;
    grid-template-columns:160px 1fr;
    gap:10px;
    align-items:start;
}

.imageBox{
  height:160px;
  overflow:hidden;
  border-radius:14px;
}

.imageBox img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.placeholder{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:#718096;
  font-size:13px;
}

.placeholder svg{
  color:#94a3b8;
  margin-bottom:12px;
}

.rightSection{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.rightSection{
  min-width:0;
}

.rightSection h1{
  font-size:22px;
  line-height:1.3;
  margin-bottom:4px;
  word-break:break-word;
}

.translationText{
  font-size:18px;
  line-height:1.6;
  text-align:left;
  margin-top:10px;
}

.badge{
  display:inline-block;
  padding:6px 12px;
  border-radius:20px;
  background:#f3e8ff;
  color:#7c3aed;
  font-size:12px;
  margin-bottom:10px;
}

.rightSection label{
  display:block;
  margin-bottom:8px;
  font-weight:600;
}

.inputBox{
  width:100%;
  max-width:420px;

  height:auto;
  min-height:60px;

  padding:10px 14px;

  border-radius:16px;
  background:#f8f9ff;

  display:flex;
  align-items:center;
}

.inputBox input{
  width:100%;
  border:none;
  outline:none;

  background:transparent;

  font-size:18px;
  line-height:1.5;

  word-break:break-word;
}

.copyIcon{
  width:35px;
  height:35px;

  display:flex;
  align-items:center;
  justify-content:center;

  flex-shrink:0;

  border:none;
  background:transparent;

  color:#64748b;
  cursor:pointer;
}

/* ==========================================
   INFO CARDS
========================================== */

.infoGrid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:8px;
  margin-top:12px;
}

.infoItem{
  background:#f8fafc;
  border-radius:16px;
  padding: 8px;
  text-align:left;
}

.infoItem svg{
  background:#ede9fe;
  color:#7c3aed;
  padding:8px;
  border-radius:50%;
  font-size:32px;
}

.infoItem h4{
  margin:10px 0 3px;
  font-size:14px;
}

.infoItem p{
  margin:0;
  font-size:12px;
  color:#64748b;
}

/* ==========================================
   DETAILS
========================================== */

.details{
  margin-top:10px;
  background:#f8fafc;
  border-radius:18px;
  padding:12px;
}
.detailsSection{
  width:430px;
  min-width:430px;
  max-width:430px;
  flex-shrink:0;
}

.details h3{
  margin-top:0;
  margin-bottom:18px;
}

.detailRow{
  display:flex;
  justify-content:space-between;
  padding:12px 0;
  border-bottom:1px solid #e5e7eb;
}

.detailRow:last-child{
  border-bottom:none;
}

/* ==========================================
   ACTION BUTTONS
========================================== */

.actionGrid{
  margin-top:12px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}


.actionButton{
  height:42px;
  border:none;
  border-radius:14px;

  background:#f1f5ff;
  color:#2979ff;

  display:flex;
  align-items:center;
  justify-content:center;

  gap:12px;

  cursor:pointer;

  font-size:14px;
  font-weight:600;

  transition:.3s;

  border:1px solid #dbe7ff;
}


.actionButton svg{
  width:20px;
  height:20px;
}


.actionButton:hover{
  background:#2979ff;
  color:white;
  transform:translateY(-2px);
}


.deleteButton{
  background:#fff1f2;
  color:#ef4444;
  border:1px solid #fecaca;

  grid-column:1 / -1;
  width:230px;
  justify-self:center;
}

.deleteButton:hover{
  background:#ef4444;
  color:white;
}


.actionIcon{
  display:flex;
  align-items:center;
  justify-content:center;
}
/* ==========================================
   STATS CARDS
========================================== */

.statsGrid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  margin-bottom:28px;
}

.statCard{
  background:#fff;
  border:1px solid #eef2f7;
  border-radius:18px;
  padding:22px 24px;

  display:flex;
  align-items:center;
  gap:18px;

  height:125px;

  box-shadow:0 6px 20px rgba(0,0,0,.05);
}

.statIcon{
  width:66px;
  height:66px;
  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:30px;
  flex-shrink:0;
}

.statContent{
  display:flex;
  flex-direction:column;
}

.statTitle{
  font-size:17px;
  font-weight:700;
  color:#111827;
  margin-bottom:8px;
}

.statValue{
  font-size:44px;
  font-weight:800;
  color:#111827;
  line-height:1;
}

.statSubtitle{
  font-size:17px;
  font-weight:600;
  color:#6b7280;
  margin-top:6px;
}

.purple{
  background:#f2ebff;
  color:#7c3aed;
}

.green{
  background:#e9fbf1;
  color:#16a34a;
}

.orange{
  background:#fff4e5;
  color:#f59e0b;
}

.blue{
  background:#eef4ff;
  color:#2563eb;
}

/* Dark Mode */

:global(body.dark) .statCard{
  background:#1f2937;
  border:1px solid #374151;
}

:global(body.dark) .statTitle,
:global(body.dark) .statValue{
  color:#fff;
}

:global(body.dark) .statSubtitle{
  color:#94a3b8;
}

@media(max-width:1100px){
  .statsGrid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:650px){
  .statsGrid{
    grid-template-columns:1fr;
  }
}
/* ==========================================
   SELECTED TRANSLATION DARK MODE FIX
========================================== */


:global(body.dark) .selectedContainer{
  background:#111827;
  border:1px solid #374151;
  color:white;
}


/* Header */
:global(body.dark) .headerTitle h2{
  color:white;
}

:global(body.dark) .headerIcons{
  color:#cbd5e1;
}


/* Camera preview box */
:global(body.dark) .imageBox{
  background:#1f2937;
  border:1px solid #374151;
}

:global(body.dark) .placeholder{
  color:#94a3b8;
}

:global(body.dark) .placeholder svg{
  color:#94a3b8;
}


/* Right side title */
:global(body.dark) .rightSection h1{
  color:white;
}


/* Input translated text box */
:global(body.dark) .inputBox{
  background:#1f2937;
  border:1px solid #374151;
}

:global(body.dark) .inputBox input{
  color:white;
}

:global(body.dark) .copyIcon{
  color:#cbd5e1;
}


/* Info cards Date Source Match */
:global(body.dark) .infoItem{
  background:#1f2937;
  border:1px solid #374151;
}

:global(body.dark) .infoItem h4{
  color:white;
}

:global(body.dark) .infoItem p{
  color:#94a3b8;
}


/* Details box */
:global(body.dark) .details{
  background:#1f2937;
  border:1px solid #374151;
}

:global(body.dark) .details h3{
  color:white;
}

:global(body.dark) .detailRow{
  border-bottom:1px solid #374151;
}

:global(body.dark) .detailRow span{
  color:#94a3b8;
}

:global(body.dark) .detailRow strong{
  color:white;
}
.headerIcons{
  display:flex;
  align-items:center;
  gap:10px;
}

.starButton,
.closeButton{
  width:36px;
  height:36px;

  display:flex;
  align-items:center;
  justify-content:center;

  border:none;
  outline:none;

  border-radius:50%;
  background:#f3f4f6;

  color:#64748b;
  cursor:pointer;

  transition:0.3s;
}

.closeButton:hover{
  background:#ef4444;
  color:#fff;
  transform:scale(1.05);
}

.closeButton svg{
  width:18px;
  height:18px;
}
:global(body.dark) .closeButton{
  background:#1f2937;
  color:#e5e7eb;
  border:1px solid #374151;
}

:global(body.dark) .closeButton:hover{
  background:#ef4444;
  color:white;
}